Protocol                        2
HostKey                         /etc/ssh/ssh_host_ed25519_key
HostKey                         /etc/ssh/ssh_host_rsa_key
ListenAddress                   0.0.0.0
Port                            3322
UseDNS                          no
UsePAM                          yes
X11Forwarding                   yes
X11UseLocalhost                 no
X11DisplayOffset                100
AllowTcpForwarding              yes
AcceptEnv                       PULSE_SERVER
PermitRootLogin                 no
PermitEmptyPasswords            no
PermitUserEnvironment           no
PubkeyAuthentication            yes
PasswordAuthentication          yes
ChallengeResponseAuthentication no
GSSAPIAuthentication            no
Subsystem                       sftp internal-sftp
LoginGraceTime                  30
TCPKeepAlive                    yes
ClientAliveInterval             60
ClientAliveCountMax             5
PrintMotd                       no
PrintLastLog                    no
SyslogFacility                  AUTH
LogLevel                        INFO
